ais:
  DGC_KM:
    gbar: {value: 0.01177283}
  cable:
    Ra: {origin: soma}
    cm: {origin: soma}
  ions:
    ek: {origin: soma}
  kap:
    gkabar: {value: 0.008021599}
  kdr:
    gkdrbar: {value: 0.07045669}
  nax:
    gbar: {value: 0.3845509}
    sh: {origin: hillock}
    sha: {value: -4.589013}
  pas:
    e: {origin: soma}
    g: {origin: soma}
apical:
  cable:
    Ra: {origin: soma}
    cm: {origin: soma}
  ions:
    ek: {origin: soma}
  kad:
    gkabar:
    - {max_loc: 300.0, min_loc: 75.0, origin: soma, outside: 0.0, slope: 0.00019970503333333333,
      value: 0.0495742375}
    - {min_loc: 300.0, origin: soma, value: 0.09450787}
  kap:
    gkabar: {max_loc: 75.0, origin: soma, outside: 0.0, slope: 0.00019970503333333333}
  kdr:
    gkdrbar: {value: 0.004952043}
  nas:
    gbar:
    - {value: 0.02529211}
    - custom: {distance_th: 100.0, func: custom_filter_modify_slope_if_terminal}
      min: 0.01107565
      origin: parent
      slope: 0.0
    sh: {origin: soma}
    sha: {value: 0.0}
  pas:
    e: {origin: soma}
    g: {origin: soma, slope: 2.283787e-05, tau: 287.66}
  synapses:
    AMPA:
      g_unit:
      - filters:
          syn_types: [excitatory]
        origin: soma
        slope: 3.039498e-06
        tau: 233.5487
        value: 0.0002346169
      - custom: {func: custom_filter_if_terminal}
        filters:
          syn_types: [excitatory]
        origin: parent
        origin_filters:
          syn_types: [excitatory]
      - filters:
          layers: [OML]
          syn_types: [excitatory]
        origin: apical
        origin_filters:
          layers: [MML]
          syn_types: [excitatory]
    NMDA:
      g_unit:
        filters:
          syn_types: [excitatory]
        value: 0.022
      gVI:
        - filters:
            layers: [IML]
            syn_types: [excitatory]
          value: 8.502902612167373e-05 # GC_20220926/optimize_selectivity.20220928_025352.yaml
        - filters:
            layers: [MML, OML]
            syn_types: [excitatory]
          value: 3.767942163406331e-05 # GC_20220926/optimize_selectivity.20220928_025352.yaml
      tau1_0:
        filters:
          syn_types:
          - excitatory
        value: 3.531
      tau2_0:
        filters:
          syn_types:
          - excitatory
        value: 100.0
#      a1:
#        filters:
#          syn_types:
#          - excitatory
#        value: 0.1
      tau_D1:
        - filters:
            layers: [MML, OML]
            syn_types:
            - excitatory
          value: 185.0
        - filters:
            layers: [IML]
            syn_types:
            - excitatory
          value: 176.0
      tau_F:
        - filters:
            layers: [MML, OML]
            syn_types:
            - excitatory
          value: 109.0
        - filters:
            layers: [IML]
            syn_types:
              - excitatory
          value: 86.0
      delta_F:
        filters:
          syn_types:
          - excitatory
        value: 0.1
      tau_G1:
        filters:
          syn_types:
          - excitatory
        value: 2.03
      tau_G2:
        filters:
          syn_types:
          - excitatory
        value: 100.0
      Ginc:
        filters:
          syn_types:
          - excitatory
        value: 100.0

axon:
  DGC_KM:
    gbar: {origin: ais}
  cable:
    Ra: {origin: soma}
    cm: {origin: soma}
  ions:
    ek: {origin: soma}
  kap:
    gkabar: {origin: ais}
  kdr:
    gkdrbar: {origin: ais}
  nax:
    gbar: {value: 0.08225761}
    sh: {origin: hillock}
  pas:
    e: {origin: soma}
    g: {origin: soma}
hillock:
  DGC_KM:
    gbar: {value: 0.01177283}
  cable:
    Ra: {origin: soma}
    cm: {origin: soma}
  ions:
    ek: {origin: soma}
  kap:
    gkabar: {origin: soma}
  kdr:
    gkdrbar: {origin: soma}
  nax:
    gbar: {value: 0.03184805}
    sh: {value: 7.739375}
  pas:
    e: {origin: soma}
    g: {origin: soma}
soma:
  Ca:
    gcamult: {value: 0.4483104}
  Cacum:
    tau: {value: 73.44046}
  CadepK:
    gcakmult: {value: 6.50341}
  cable:
    Ra: {value: 150.0}
    cm: {value: 1.0}
  ions:
    ek: {value: -80.0}
  kap:
    gkabar: {value: 0.03459636}
  kdr:
    gkdrbar: {value: 0.06508912}
  nas:
    gbar: {value: 0.03184805}
    sh: {value: 7.739375}
  pas:
    e: {value: -73.74262}
    g: {value: 4.243684e-08}
